**/__pycache__
bsym/*pyc
tests/.coverage
**/*.pyc
tests/unit_tests/__pycache__
tests/__pycache__
.coverage
.DS_Store
coverage.xml
dist/
bsym.egg-info/
build/
examples/.nbgrader.log
**/.python-version
**/*.pyc
